@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: radyPro;
  src: url("./fonts/Abd ElRady Pro Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: cocon;
  src: url("./fonts/cocon-next-arabic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "3asomy";
  src: url("./fonts/DG 3asomy Regular.ttf");
  font-display: swap;
}
/* @font-face {
  font-family: jooza;
  src: url("./fonts/flat-jooza-regular.ttf");
  font-display: swap;
} */

html {
  --btn-bg:#569d6d;
  --c-text-red:#dc41539e;
  --c-text-blue:#0ca9be;
  --c-text-yellow:#ea8d34;
  --input-bg:#b5d8d653;

  --mainFont:radyPro;
  font-family: radyPro;
  direction: rtl;
}
