.parent {
  font-family: "3asomy";
}
input:focus {
  outline: none;
  color: #000;
}
.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: rgb(234, 141, 52);
  --c-primary-20-percent-opacity: rgb(234 141 52 /20%);
  --c-primary-10-percent-opacity: rgb(234 141 52 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}
.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-left: 15px;
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 5px;
  width: 1.3em;
  height: 1.3em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 20px;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}
.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}
.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}
.checkbox-wrapper-33
  .checkbox__trigger:checked
  + .checkbox__symbol
  .icon-checkbox
  path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}
.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

.parent {
  perspective: 5000px;
}
.parent-log_reg{ 
  transform-style: preserve-3d;
  transition:transform .8s cubic-bezier(0.58, 0.02, 0.1, 0.99) ;
  transform-origin: center right;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.changeMode {
  transform: translateX(-100%) rotateY(-180deg);
}
.face {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  backface-visibility: hidden;
  z-index: 5;

}


.face-2 {
  transform: rotateY(180deg);
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s 3s linear infinite ;
	        animation: vibrate-1 0.3s 3s linear infinite ;
}
.vibrate-1:hover {
  animation-play-state: paused;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
 

.rotate  {
  animation: rotate 5s infinite linear alternate;
}

@keyframes rotate {
  to {
    transform: translateX(50px);
  }
}
.rotate-h  {
  animation: rotate-h 5s infinite linear alternate;
}

@keyframes rotate-h {
  0% {
    transform: translateY(-20px)
  }
  50% {
    transform: translate(10px,-20px)
  }
}

input{
  caret-color: var(--c-text-red);
}




.input-an  div  {
  position: relative;
}
.input-an  div input:focus + .inp_anim  {
  /* opacity: 1; */
  visibility: visible;
  transform: translateX(-100%);
/* animation: an 1 5s linear; */
}

.input-an div .inp_anim  {
  /* opacity: 0; */
  transition: transform 1s ease-out;
  position: absolute;
  display: block;
  visibility: hidden;
  height: 100%;
  pointer-events: none;
  top: 0;
  background-color: #ea8c344f;
  z-index: 200;
  width: 100%;
  transform: translateX(100%);
}


@keyframes an {
 to {
 }
}

/* div :where(input[type="text"],input[type="password"]) {
  position: relative;
  border: 1px solid;
}
div :where(input[type="text"],input[type="password"])::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: red;
  left: 0;
  z-index: 200;
} */