.ahmed{

    background: rgba(255, 255, 255, 0);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 200px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
background-color: transparent;
font-family: jooza;
background: rgba( 255, 255, 255, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.react-datepicker__month-container {
    width: 300px;
    /* width: ; */
}
.react-datepicker__week{
    display: flex;
    justify-content: space-around;
}
.react-datepicker__header {
    background-color: #8b5dff3d;
}
.react-datepicker__header .react-datepicker__day-names {
    display: flex;
    justify-content: space-around;
    font-size: 12px; 
}
.react-datepicker__day--selected {
    background-color: var(--btn-bg);
}
.react-datepicker__day--today {
    background-color: yellow;
    color: black;

}

