

.dashboard {
    grid-template-columns: 250px 1fr ;
    grid-template-rows: auto 1fr;
}
.dsh-header {
    background-color: #fff;
    grid-column: 2/2  ;
}
.dsh-nav {
    grid-row: 1/3;
}

@media (max-width: 768px) {
    
    .dashboard {
        grid-template-columns: 70px 1fr ;
        grid-template-rows: auto 1fr;
    }
    .dsh-header {
        grid-column: 1/3  ;
    }
    .dsh-nav {
        grid-row: 2/3;
    }

}
.dsh-nav  .nv-links  a{
    border-radius: 10px;
    transition: .3s;
}
.dsh-nav  .nv-links  a .icon{
    background-color:#000000;
    color: #ffffff;
}
.dsh-nav  .nv-links  a.active{
    color: var(--c-text-yellow);
    border-radius: 10px;
}
.dsh-nav  .nv-links  a.active .icon{
    background-color: var(--c-text-yellow);
    color: #fff;
}
