.dashboard {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.dsh-header {
  background-color: #fff;
  grid-column: 2 / 2;
}

.dsh-nav {
  grid-row: 1 / 3;
  height: 100vh;
}

.dsh-dash-content {
  height: calc(100vh - 84px);
}

.lesson_title,
.lesson_title_2,
.acord_title {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.acordion.active {
  padding-bottom: 16px;
  transition: background-color 3s linear;
}

.acordion-body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}
.acordion-body.open {
  max-height: max-content; /* اضبط هذا الرقم حسب المحتوى */
  padding: 1rem;
}
.acordion-body.closed {
  padding: 0;
}
.acordion.active .acordion-body {
  height: max-content;
  padding: 16px;
}

.acordion.active .acordion-body {
  height: max-content;
  padding: 16px;
}

.acordion.active .acordion-head {
  background: var(--c-text-blue);
  color: #fff;
}
/* From Uiverse.io by MuhammadHasann */
.lesson button {
  position: relative;
  padding: 12px 35px;
  background: var(--c-text-blue);
  font-size: 17px;
  font-weight: 500;
  color: #333;
  border: 3px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.lesson .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.lesson .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.lesson .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.lesson .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.lesson .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.lesson .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.lesson button:hover {
  background: transparent;
  color: var(--c-text-blue);
  box-shadow: 0 0 25px var(--c-text-blue);
}
.lesson  button.aa:hover {
  background: transparent;
  color: var(--c-text-blue);
  box-shadow: 0 0 25px var(--c-text-red);
}

.lesson button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.lesson button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.lesson button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.lesson button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.lesson button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.lesson .fil0 {
  fill: #fffdef;
}

.li_dash-objectives::marker {
  content: "◀️";
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto 1fr;
  }

  .dsh-header {
    grid-column: 1 / 3;
  }

  .dsh-nav {
    grid-row: 2 / 3;
  }
}

.dsh-nav .nv-links a {
  border-radius: 10px;
  transition: 0.3s;
}

.dsh-nav .nv-links a .icon,
.nav-acordion .icon {
  background-color: #000000;
  color: #ffffff;
}

.dsh-nav .nv-links a.active {
  color: var(--c-text-yellow);
  border-radius: 10px;
}

.dsh-nav .nv-links a.active .icon {
  background-color: var(--c-text-yellow);
  color: #fff;
}
