.dashboard {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.dsh-header {
  background-color: #fff;
  grid-column: 2 / 2;
}

.dsh-nav {
  grid-row: 1 / 3;
  height: 100vh;
}

.dsh-dash-content {
  height: calc(100vh - 84px);
}

.lesson_title,
.lesson_title_2,
.acord_title {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.acordion.active {
  padding-bottom: 16px;
  transition: background-color 3s linear;
}

.acordion-body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}
.acordion-body.open {
  max-height: max-content; /* اضبط هذا الرقم حسب المحتوى */
  padding: 1rem;
}
.acordion-body.closed {
  padding: 0;
}
.acordion.active .acordion-body {
  height: max-content;
  padding: 16px;
}

.acordion.active .acordion-body {
  height: max-content;
  padding: 16px;
}

.acordion.active .acordion-head {
  background: var(--c-text-blue);
  color: #fff;
}
/* From Uiverse.io by MuhammadHasann */
.foot button {
  position: relative;
  padding: 12px 35px;
  background: var(--c-text-blue);
  font-size: 17px;
  font-weight: 500;
  color: #333;
  border: 3px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.foot .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.foot .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.foot .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.foot .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.foot .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.foot .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.foot button:hover {
  background: transparent;
  color: var(--c-text-blue);
  box-shadow: 0 0 25px var(--c-text-blue);
}
.foot button.aa:hover {
  background: transparent;
  color: var(--c-text-blue);
  box-shadow: 0 0 25px var(--c-text-red);
}

.foot button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.foot button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.foot button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.foot button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.foot button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.foot button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.foot .fil0 {
  fill: #fffdef;
}

.li_dash-objectives::marker {
  content: "◀️";
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto 1fr;
  }

  .dsh-header {
    grid-column: 1 / 3;
  }

  .dsh-nav {
    grid-row: 2 / 3;
  }
}

.dsh-nav .nv-links a {
  border-radius: 10px;
  transition: 0.3s;
}

.dsh-nav .nv-links a .icon,
.nav-acordion .icon {
  background-color: #000000;
  color: #ffffff;
}

.dsh-nav .nv-links a.active {
  color: var(--c-text-yellow);
  border-radius: 10px;
}

.dsh-nav .nv-links a.active .icon {
  background-color: var(--c-text-yellow);
  color: #fff;
}






/* From Uiverse.io by StealthWorm */ 
.ai-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ai-btn #container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

.ai-btn strong {
  z-index: 2;
  font-family: var(--secondFont);
  font-size: 15px;
  color: yellow;
  -webkit-text-stroke: none;
  /* text-shadow: 0 0 4px white; */
}

.ai-btn #glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.ai-btn .circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.ai-btn .circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.ai-btn .circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.ai-btn .btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.ai-btn .btn:hover {
  transform: scale(1.1);
}

.ai-btn .btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

.ai-btn #stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.ai-btn #stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

.ai-btn #stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.ai-btn #stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

.ai-btn #stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
