.opj-title::before {
content: "";
position: absolute;
top:-5px;
right: -5px;
z-index: -1;
width: 50px;
height: 40px;
border-radius: 100px 20px ;
background-color: #e99141;
transition: .3s ;
}
.opj-title:hover::before  {
    width: 110%;
}
.opj-title {
    z-index: 1;

}
.opj-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
z-index: 1;
    margin-top: 50px;
    border-left: 5px dashed #777;
    border-bottom: 5px solid #00000069;
    transition: .3s;
}
.opj-card::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: 0;

    z-index: -1;
    width: 50px;
    height: 40px;

    width: 100%;
    height: 0;
    background-color: #0000000a;
    transition: .3s ;



}
.opj-card:hover::before {
    height: 100%;
}
.opj-card:last-child{
    margin-bottom: 50px;
}
.opj-card .eff span{
    transition: .3s ;
}
.opj-card:hover .eff span{
width: 100%;
}
.opj-card ul li {
    margin-right: 20px;
    margin-top: 15px;
    padding-right: 10px;
    list-style-type: "◀️";
}
.opj-card ul li span {
color: #666;
}

.opj-card ul li::marker {
    transform: rotate(60deg);
}