.chat-header {
    background: #005C97; 
background: -webkit-linear-gradient(to right, #363795, #005C97); 
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
z-index: 5;
}
.chat-header::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    left: -25%;
    /* transform: rotate(-3deg); */
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97); 
    background: linear-gradient(to right, #363795, #005C97);
    bottom: -45px;
    clip-path: ellipse(235% 19% at -37% 100%);
    z-index: -1;
    background-color: red;
}
p[data-massage]{
    z-index: 1;
    border-radius: 20px   ;
}
p[data-massage="ai"]{
    background-color: #777777e3 ;
    color: #f5f5f5;
}
p[data-massage="user"]{
    background: linear-gradient(to right, #363795, #005C97);
    color: #f5f5f5;
    margin-right: auto;
}
p[data-massage]::after {
    content: "";
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    right: -10px ;
    z-index: -1;
    width: 20px;
    border-radius: 20px;
    height: 50%;
    background-color: #848585 ;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 50%);
}
p[data-massage="user"]::after{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 50%);
    background: #383692;
    right: 96% ;
    }
p[data-massage]::before{
        content: "";
        width: 50px;
        height: 50px;
        background-size: cover;
        background-image: url("/imgs/dash/chatbot.png");
        position: absolute;
        top: 0;
        right: -70px ;
        border-radius: 50%;
        border: black 1px solid;
    }
p[data-massage="user"]::before{
        content: "";
        width: 50px;
        height: 50px;
        background-size: cover;
        background-image: url("/imgs/dash/userAvatar.png");
        position: absolute;
        top: 0;
        right: 108% ;
        border-radius: 50%;
        border: black 1px solid;
    }

    #morning:checked + label span.text-selected {
        color:rgb(0, 255, 13)  !important;
      }

  .checkbox-wrapper-4 * {
    box-sizing: border-box;
  }
  .checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
  }
  .checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
  }
  .checkbox-wrapper-4 .cbx:hover {
    background: rgba(255, 255, 255, 0.06);
  }
  .checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #dbcccc;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  .checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  .checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: greenyellow;
  }
  .checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: greenyellow;
    border-color: greenyellow;
    animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  
  @media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
