.chat-header {
    background: #005C97; 
background: -webkit-linear-gradient(to right, #363795, #005C97); 
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
z-index: 5;
}
.chat-header::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    left: -25%;
    /* transform: rotate(-3deg); */
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97); 
    background: linear-gradient(to right, #363795, #005C97);
    bottom: -45px;
    clip-path: ellipse(235% 19% at -37% 100%);
    z-index: -1;
    background-color: red;
}
p[data-massage]{
    z-index: 1;
    border-radius: 20px   ;
    font-family: var(--secondFont);
    text-wrap: wrap;
}

p[data-massage="ai"]{
    background-color: #77777773 ;
    transition: all .3s 1s;
    color: #f5f5f5;
}


p[data-massage="user"]{
    background: linear-gradient(to right, #3637958f, #005d97b9);
    color: #f5f5f5;
    margin-right: auto;
}

p[data-massage]::after {
    content: "";
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    right: -10px ;
    z-index: -1;
    width: 20px;
    border-radius: 20px;
    height: 25px;
    background-color: #babdbf ;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 50%);
}
p[data-massage="user"]::after{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 50%);
    background: #8a89bf;
    right: 99% ;
    }

    
p[data-massage]::before{
        content: "";
        width: 50px;
        height: 50px;
        background-size: cover;
        background-image: url("/imgs/dash/chatbot.png");
        position: absolute;
        top: 0;
        right: -70px ;
        border-radius: 50%;
        border: black 1px solid;
    }
p[data-massage="user"]::before{
        content: "";
        width: 50px;
        height: 50px;
        background-size: cover;
        background-image: url("/imgs/dash/userAvatar.png");
        position: absolute;
        top: 0;
        right: 103% ;
        border-radius: 50%;
        border: black 1px solid;
    }
@media (max-width: 768px) {
  p[data-massage]::before{
    display: none;
  }
  .chat-header::before {

    clip-path: ellipse(235% 100% at -37% 100%);

}
.chat_body{
  min-height: 70%;
}
p[data-massage="user"]::after{
  right: 97% ;
  }
}
    #morning:checked + label span.text-selected {
        color:rgb(0, 255, 13)  !important;
      }

  .checkbox-wrapper-4 * {
    box-sizing: border-box;
  }
  .checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
  }
  .checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
  }
  .checkbox-wrapper-4 .cbx:hover {
    background: rgba(255, 255, 255, 0.06);
  }
  .checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #dbcccc;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  .checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  .checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: greenyellow;
  }
  .checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: greenyellow;
    border-color: greenyellow;
    animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  
  @media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }


.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #fdc433;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7 );
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
